<div>
  <br>
  <mat-card>
    <button mat-raised-button color="primary" routerLink="/create">Create New Employee</button>
    <br><br>
    <mat-divider></mat-divider>
    <br>
    <table mat-table [dataSource]="employees">
      <ng-container matColumnDef="Name">
        <th mat-header-cell *matHeaderCellDef>Name</th>
        <td mat-cell *matCellDef="let element"> {{element.Name}} </td>
      </ng-container>

      <ng-container matColumnDef="Age">
        <th mat-header-cell *matHeaderCellDef>Age</th>
        <td mat-cell *matCellDef="let element"> {{element.Age}} </td>
      </ng-container>

      <ng-container matColumnDef="Position">
        <th mat-header-cell *matHeaderCellDef>Position</th>
        <td mat-cell *matCellDef="let element"> {{element.Position}} </td>
      </ng-container>

      <ng-container matColumnDef="Skill">
        <th mat-header-cell *matHeaderCellDef>Skill</th>
        <td mat-cell *matCellDef="let element"> {{element.Skill}} </td>
      </ng-container>

      <ng-container matColumnDef="Team">
        <th mat-header-cell *matHeaderCellDef>Team</th>
        <td mat-cell *matCellDef="let element"> {{element.Team}} </td>
      </ng-container>

      <ng-container matColumnDef="Actions">
        <th mat-header-cell *matHeaderCellDef class="mat-column-right">Actions</th>
        <td mat-cell *matCellDef="let element" class="mat-column-right">
          <button mat-button color="primary" (click)="editEmployee(element._id)">Edit</button>
          <button mat-button color="warn" (click)="deleteEmployee(element._id)">Delete</button>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

    </table>
  </mat-card>
</div>
